{% extends 'guitarras/layout.html' %}
{% load static %}
{% load bootstrap5 %}

{% block conteudo %}
<div>
    <div class="row mt-5">
        <div class="col text-center">
            <img id="cabeca" src="{% static 'guitarras/images/partes/cabecas/jackson.svg' %}" style="height: 70vh; position: absolute;"/>
            <img id="braco" src="{% static 'guitarras/images/partes/bracos/circulos.svg' %}" style="height: 70vh; position: absolute;"/>
            <img id="corpo" src="{% static 'guitarras/images/partes/corpos/flying-v.svg' %}" style="height: 70vh; position: absolute;"/>
            <img id="capitador1" src="{% static 'guitarras/images/partes/capitadores/humbucker1.svg' %}" style="height: 70vh; position: absolute;"/>
            <img id="capitador2" src="{% static 'guitarras/images/partes/capitadores/humbucker2.svg' %}" style="height: 70vh;"/>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form name="guitarraForm" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <!-- <input type="hidden" name="id" value="{{ id }}"/> -->
                        <input id="id_imagem" type="hidden" name="imagem"/>
                    </form>
                    <button onclick="generateImage()" class="btn btn-primary mt-3">Salvar guitarra</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'guitarras/scripts/criar-guitarra.js' %}"></script>
</div>
{% endblock conteudo %}