{% extends 'guitarras/layout.html' %}

{% block conteudo %}
<div>
    {% if not guitarras %}
    <div class="alert alert-primary">
        Nenhum instrumento no catalogo
    </div>
    {% endif %}
    
    {% if mensagem %}
    <div class="alert alert-primary">{{ mensagem }}</div>
    {% endif %}

    {% for guitarra in guitarras %}
    <div>
        <div class="row">
            <div class="col">
                Column
            </div>
            <div class="col">
                Column
            </div>
            <div class="col">
                Column
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock conteudo %}
