{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Genesis Guitar</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% bootstrap_css %}
</head>

<body>
<div id="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Instrumentos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Início</a>
                    {% for item in itens_do_menu %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="linguagens-navbar" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                                {{ item | title }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'guitarras:guitarras' %}">Listar</a></li>
                                <li><a class="dropdown-item" href="{% url 'guitarras:criar' %}">Criar</a></li>
                            </ul>
                        </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    {% block conteudo %}
    {% endblock conteudo %}
</div>

{% bootstrap_javascript %}
</body>
</html>